body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
    background-image: url("assets/img/Logo.png");
}

.container {
    width: 300px;
    padding: 20px;
    margin: 100px auto;
    background: rgb(239, 239, 239);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 2px solid black;

}

h2 {
    margin-bottom: 20px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: #c47807;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #9c2e06;
}

a {
    text-decoration: none;
    color: #007bff;
}