:root {
  --default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Satisfy",  sans-serif;
  --nav-font: "Poppins",  sans-serif;
}

/* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */
:root {
  --background-color: #ffffff; /* Background color for the entire website, including individual sections */
  --default-color: #000000; /* Default color used for the majority of the text content across the entire website */
  --heading-color: #00008B; /* Color for headings, subheadings and title throughout the website - Dark Blue */
  --accent-color: #FFD700; /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out - Gold Yellow */
  --surface-color: #ffffff; /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
  --contrast-color: #000000; /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
}

/* Nav Menu Colors - The following color variables are used specifically for the navigation menu. They are separate from the global colors to allow for more customization options */
:root {
  --nav-color: #000000;  /* The default color of the main navmenu links */
  --nav-hover-color: #FFD700; /* Applied to main navmenu links when they are hovered over or active - Gold Yellow */
  --nav-mobile-background-color: #ffffff; /* Used as the background color for mobile navigation menu */
  --nav-dropdown-background-color: #ffffff; /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
  --nav-dropdown-color: #000000; /* Used for navigation links of the dropdown items in the navigation menu. */
  --nav-dropdown-hover-color: #FFD700; /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. - Gold Yellow */
}

/* Color Presets - These classes override global colors when applied to any section or element, providing reuse of the sam color scheme. */

.light-background {
  --background-color: #ffffff;
  --surface-color: #ffffff;
}

.dark-background {
  --background-color: #000000;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --surface-color: #000000;
  --contrast-color: #ffffff;
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General Styling & Shared Classes
--------------------------------------------------------------*/
body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
  margin: 0; /* Reset default margins */
  padding-top: 200px; /* Add padding to push the body content below the header */
  box-sizing: border-box; /* Ensure padding and border are included in width/height calculations */
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: color-mix(in srgb, var(--accent-color), transparent 25%);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}

/* Pulsating Play Button
------------------------------*/
.pulsating-play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(var(--accent-color) 50%, color-mix(in srgb, var(--accent-color), transparent 75%) 52%);
  border-radius: 50%;
  display: block;
  position: relative;
  overflow: hidden;
}

.pulsating-play-btn:before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  animation-delay: 0s;
  animation: pulsate-play-btn 2s;
  animation-direction: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid color-mix(in srgb, var(--accent-color), transparent 30%);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

.pulsating-play-btn:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.pulsating-play-btn:hover:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  animation: none;
  border-radius: 0;
}

.pulsating-play-btn:hover:after {
  border-left: 15px solid var(--accent-color);
  transform: scale(20);
}

@keyframes pulsate-play-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

/* PHP Email Form Messages
------------------------------*/
.php-email-form .error-message {
  display: none;
  background: #df1529;
  color: #ffffff;
  text-align: left;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.php-email-form .sent-message {
  display: none;
  color: #ffffff;
  background: #059652;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.php-email-form .loading {
  display: none;
  background: var(--surface-color);
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
}

.php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid var(--accent-color);
  border-top-color: var(--surface-color);
  animation: php-email-form-loading 1s linear infinite;
}

@keyframes php-email-form-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Global Header
--------------------------------------------------------------*/
.header {
  color: var(--default-color);
  transition: all 0.5s;
  z-index: 997;
  height: 150px;
  border: 2px solid #00008B;
  padding-top: 30px;
  background-color: #ffffff;
 background-position: center;
 background-size: cover ;
}


.header .topbar .contact-info i {
  font-style: normal;
  color: var(--accent-color);
}

.header .topbar .contact-info i a,
.header .topbar .contact-info i span {
  padding-left: 5px;
  color: var(--contrast-color);
}

@media (max-width: 575px) {

  .header .topbar .contact-info i a,
  .header .topbar .contact-info i span {
    font-size: 13px;
  }
}

.header .topbar .contact-info i a {
  line-height: 0;
  transition: 0.3s;
}

.header .topbar .contact-info i a:hover {
  color: var(--contrast-color);
  text-decoration: underline;
}

.navmenu .cta-btn {
    color: var(--contrast-color);
    background: #0000FF;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px 10px 30px;
    border-radius: 50px;
    transition: 0.3s;
  }

  .header .cta-btn {
    color: var(--contrast-color);
    background: #0000FF;
    font-weight: 500;
    letter-spacing: 1px;
    display: inline-flex; /* Use flex for better alignment */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    padding: 15px 40px; /* Adjust button padding */
    border-radius: 50px;
    transition: 0.3s;
    text-decoration: none; /* Remove underline from the link */
  }
  
  .header .cta-btn i {
    font-size: 24px; /* Adjust icon size */
    margin-right: 8px; /* Add spacing between icon and text */
  }
  
  .header .cta-btn:hover {
    background: color-mix(in srgb, var(--accent-color), transparent 20%);
    color: #000;
  }
  


.navmenu .cta-btn:hover {
  background: color-mix(in srgb, var(--accent-color), transparent 20%);
  color: #000;
}

.header .branding {
  min-height: 60px;
  padding: 1px 0;

}
.header .branding img{
 background-size: cover;
 background-repeat: no-repeat;

  
}
.header .logo {
  line-height: 1;
}

.header .logo img {
  height: 120px; /* Set logo size */
  width: 120px; /* Ensure width matches height */
  object-fit: cover; /* Ensure the image fits perfectly within the circle */
}

.header .logo h1 {
  font-size: 30px;
  margin: 0;
  font-weight: 700;
  color: #000000;
  padding-left: 20px;
}

/* Global Header on Scroll
------------------------------*/
.scrolled .header {
  --background-color: rgba(21, 17, 13, 0.85);
}



/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
